#navbarSupportedContent .nav-item{
    margin-left: 25px;
}

#navbarSupportedContent .nav-link{
    color: brown;
    text-transform: uppercase;
}

#navbarSupportedContent .nav-link:hover{
    color: brown;
}

#navbarSupportedContent .dropdown-item{
    color: brown;
}
#botonBuscar{
    color: #212529;
    border: 1px solid brown;
}
.btn-outline-success:hover{
    background-color: tomato;
}